* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;

  display: grid;
  gap: 4px;
  grid-template-rows: 100px 80px 1fr 80px;
  grid-template-columns: 1fr 4fr;
  /* height: 100%; */
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;

  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  /* grid-column: 1 / 3; */
    grid-template-columns: 1fr 4fr;
}

.logo {
  grid-area: 1 / 1 / 2/ 2;
}

.menu {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 120px); */
  /* display: inline-grid; */
  
}

.menu ul {
  display: inline-grid;
  grid-template-columns: repeat(4, 150px);
  justify-content: space-around;
  align-items: center;
}

.menu ul,
.menu li {
  font-size: 16px;

  list-style-type: none;
  display: grid;
  align-items: center;
}

.sidebar {
  background-color: #FF7755;

  gap: 50px;
  display: grid;
  grid-area: 2 / 1 / 4 / 2;
  /* justify-content: center; */
  /* align-items: center; */
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;


}

.photo  {
  display: grid;
  align-items: center;
  /* justify-content: center;
  text-align: center;
  align-items: center; */
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;

  display: grid;
  align-items: center;
  /* justify-content: center;
  text-align: center; */
  
}

.nav {
  background-color: #FF7755;

}

.nav ul {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-around;
  align-items: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;

  display: grid;
  align-items: center;
  /* justify-content: space-between; */
  /* text-align: inherit; */


}

.article {
  background-color: #bccbde;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;

}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;

  height: 200px;
  /* grid-area: 1 / 1 / 2 / 2; */
  gap: 15px;
  margin: 15px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;

  /* grid-column: 1 / 3; */
  grid-area: 4 / 1 / 5 / 3;
  bottom: 0;
  /* position: absolute; */
  width: 100%;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  


}
